body {
  font-family: Arial, Helvetica, sans-serif;
}

.columns {
  display: flex;
}

.column {
  flex-basis: 20rem;
  margin-right: 2rem;
}

.quill-editor {
  border: 1px solid #000;
}

.post {
  background-color: #ff0;
}
